body{
  background-color: darkred;
}
button {
  background-color: #EAE0C8;
  color: black;
  font-style: italic;
}
html {
  height: 100%;
  width: 100%;
}
h1 {
  color: yellow;
  font-style: italic;
  font-weight: bold;
}
p {
  color: yellow;
}
