body {
  background-color: darkred;
}
footer {
  color: yellow;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid yellow;
}
button, #character {
  background-color: #EAE0C8;
  color: black;
  font-style: italic;
}
html {
  height: 100%;
  width: 100%;
}
h1, h3 {
  color: yellow;
  font-style: italic;
  font-weight: bold;
}
p,h2 {
  color: yellow;
  font-style: italic;
}